body {
    font-family: "Cormorant", serif;
}
  
  h1 {
    font-family: "Cormorant", serif;
    color: #dba159;
  }
  .image-container {

    position: absolute;
    
    width: 300px; 
    
    height: 200px; 
    
    }
    
    .overlay-image {
    
    position: absolute;
    top: 150px;
    width: 50px; 
    
    height: 50px; 
    
    left: 50px;
    
    }

  .food-saved{
    position:absolute;
    margin-left:1150px;
    top:40px;
    font-size:25px;
    color: #dba159;
    font-weight: bold;
  }
  .instructionsContainer {
    margin-right:100px;
    width: 800px;
    height: 250px; 
    font-size: 20px;
   
    background-color: #efd780;
}
 
.recipeContainer {
    margin-left:300px;
    right: 0px;
    width: 600px;
    height: 400px; 
    font-size: 20px;
    background-color: #efd780
    
}

.newMeal{
    background-color:#d0e3CC;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    width:300px;
    height:400px;
    left: 40px;
  
    display: inline-block;
    font-family: "Cormorant", serif;
    font-size: 15px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  .newMeal:hover,
  .newMeal:hover {
    background-color: #b3d8ba;
  }
  
  .backb{
    background-color:#d0e3CC;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    width:300px;
    height:400px;
    left: 40px;

    display: inline-block;
    font-family: "Cormorant", serif;
    font-size: 15px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.backb:hover,
.backb:hover {
  background-color:#b3d8ba;
}
.generateMeal{
    background-color:#d0e3CC;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    width:300px;
    height:400px;
    left: 40px;

    display: inline-block;
    font-family: "Cormorant", serif;
    font-size: 15px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.generateMeal {
    background-color: #d0e3CC;
}
.generateMeal:hover,
.generateMeal:hover {
  background-color:#b3d8ba;
}


/*Magnet Pop-Up*/

.btn-open-popup {
    padding: 12px 24px;
    font-size: 12px;
    background-color: #565656;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-open-popup:hover {
    background-color: #9b9b9b;
}

.overlay-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.popup-box {
    background: #fcfdaf;
    position:absolute;
    left:240px;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    width: 320px;
    text-align: center;
    opacity: 0;
    transform: scale(0.8);
    animation: fadeInUp 0.5s ease-out forwards;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-bottom: 10px;
    font-size: 16px;
    color: #444;
    text-align: left;
}

.form-input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.btn-submit,
.btn-close-popup {
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-submit {
    background-color: #efd780;
    color: #fff;
}

.btn-close-popup {
    margin-top: 12px;
    background-color: #d0e3CC;
    color: #dba159;
}

.btn-submit:hover,
.btn-close-popup:hover {
    background-color: #dba159;
    color:#d0e3CC;
}

/* Keyframes for fadeInUp animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animation for popup */
.overlay-container.show {
    display: flex;
    opacity: 1;
}
