# Large data files
src/main/resources/*.json
!package.json
!package-lock.json

# Compiled files
target/
*.class
*.jar
*.war

# IDE files
.idea/
.vscode/
*.iml

# Logs
*.log

# Environment variables
.env

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Spring Boot
spring-boot-*.pid

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
